@import url(https://fonts.googleapis.com/css?family=Lexend:100,200,300,regular,500,600,700,800,900);


:root {
    --background: #201b2c;
    --primary: #333333;
    --foreground: #e7f4c9;
    --secondary: #201b2c;
    --secondary-light: #474646;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: Lexend, Helvetica, sans-serif;
    background-color: var(--background);
    color: var(--primary);
}

header {
    text-align: center;
    margin: 4rem 2rem;
}

header img {
    width: auto;
    height: 8rem;
}

main {
    margin: 3rem;
}

main section {
    display: flex;
    font-weight: bold;
    background-color: var(--foreground);
    margin: 2rem auto;
    padding: 1rem;
    max-width: 60rem;
    border-radius: 10px;
}

main section span {
    display: block;
    margin-right: 1rem;
    color: var(--secondary-light);
    font-size: 5rem;
}

main section input {
    flex: 1;
    min-width: 0;
    background: transparent;
    color: var(--secondary);
    font-size: 5rem;
    font-weight: bold;
    border: 0;
    outline: none;
    text-align: right;
}

.menu-container { 
    display: flex;
    background-color: #909090;
    flex-direction: column;
    max-width: 700px;
    margin: 3rem auto 0;
    padding: 1.5rem;
    border-radius: 15px;
    align-items: center;
}

footer {
    text-align: center;
    font-size: 1.4rem;
    color: var(--secondary);
}